@import '~igniteui-angular/lib/core/styles/themes/index';

$custom_navbar: igx-navbar-theme(
    $text-color: $text-color,
    $background: $navbar_background_color,
    $idle-icon-color: #ffcd0f,
    $hover-icon-color: gray,
    );

@include igx-navbar($custom-navbar);
